
$color-fondo-primario: #303840;
$color-fondo-secundario: #f5f7fa;
$color-boton-primario: #febf10;
$color-boton-primario-hover: #e7ae11;




.ant-layout{
  &-header {
    background: $color-fondo-secundario !important;
    box-shadow: 0 6px 6px -3px rgb(39 44 51 / 10%), 0 10px 14px 1px rgb(39 44 51 / 4%), 0 4px 18px 3px rgb(39 44 51 / 2%);
  }
  &-sider{
    background: $color-fondo-primario !important;    
  }
  
  &-content{
    background: $color-fondo-secundario !important;
    padding: 50px 0;
  }

  .breadcrumb {
    align-items: center;
    font-size: .8125rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
}

.ant-menu.ant-menu-dark{
  background: transparent !important
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background: #272c33 !important
}

.ant-layout {
  background: #ffffff;
}

.ant-layout-sider-trigger {
  background-color: $color-boton-primario-hover !important;
}

.ant-menu-submenu-open{
  background-color: $color-boton-primario-hover !important;
}

.ant-menu .ant-menu-item-icon {
  font-size: 20px !important;
}